/*----------------------------------------------*/
/*	ZNACENJE OSNOVNIH KOMADNI U CSS-U*/
/*	
	Margin ::: definira razmak izvan granica alementa (razmak izmedju HTML elemenata)
	
	Padding ::: definira granicu izmedju texta i border(granice) elementa
	
	Border ::: definira granicu okolo HTML elementa( mora biti solid da bi bila prikazana i sa debljinom u pikselima)
	
	Font- famili ::: vrsta texta
	
	Display ::: kako da se element prikazuje 
		
	Line-height::: velicina slova 120%
	
	Word-spacing ::: razmak izmedju slova 2
	
	Text-decoration::: za dekoraciju texta obicno se koristi za uklanjanje crta ispod texta
	
	Transition::: animacija
	
	Background-img::: ubacivanje slike u css-u
	
	Background-img::: linear-gradient: potamljivanje slike
	
	Background-size::: celicina (cover da prekrija cijali display)
	
	Background-position::: center centriranje slike
	
	Background-atachment::: fixed da slika ostaje fiksirana dok se stranica pomice
	
	Position::: da bi element mogli pomjerati porent element mora imati absolute a child element relative position
	
	Position absolute::: da je fiksiran 
	
	Position relativ::: da se moze elmenet pomjerat 
	
	Text-align::: pozicioniranje texta
	
	Text-rendering::: optimizeLegibility; da se font prikazuje najbolje
	
	Max-width::: maksimalna velicina stranice
	
	Float (left)::: pomjeranje elementa u ljevo (da se elementi u nekos skopini prikazuju jedan do drugoga saljeva na desno ) 
	
	Text-transform::: tansformacija texta (uppercase, lowercase... itd)
	
	Border-radius::: da se prave krugovi od elemenata 
	
	List-style::: (none) brisanje gumbova iz liste koji se normalno prikazuju (unorderd list)
	
	Hoverflow: hidden;:: sto prelazi kreko kontenjera je sakriveno (preko displaya)
	
	Vertical-align::: da se poravna da bude u sredini 
	
	Type-selectors::: odabire sve elemente tog imena ( section , h1, h2, itd...)
	
	Class-selector::: odabire sve elemente istoga class atributa (class="ime atributa") moze biti mnogo class atributa istog imena
		
	ID-selector::: odabire element sa ID atributem samo moze biti jedan unikatni ID atribut 
	
	Pseudo-class::: kljucna rijec dodana selektoru koji odredjuje posebno stanje odabranog elementa
	
	Hover::: kad korisnik predje misem preko njega ali ga ne klikne (obicnoi se koristi za mjenjane boje na dugmetu kad je mis na njemu)
	
	Active::: kad korisnik klikne na element(najcesce dugme ) 
	







*/
/*----------------------------------------------*/




/*----------------------------------------------*/
/*basic setup*/
/*----------------------------------------------*/

*{/* ovo je za sve cijeli html*/
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{/*odredjivanje texta boje jacine vrste velicine */
	background-color: white;/*pozadina*/
	color: #5a5a5a;/*boja teksta*/
	font-family: 'Lato', 'Arial', sans-serif;/*font*/
	font-weight: 300;/*jacina*/
	font-size: 20px;/*velicina cjele stranice texta*/
	text-rendering: optimizeLegibility;/*da se font prikazuje najbolje*/
}

.clearfix { zoom: 1}/*ovo se koristi za ciscenje flota clearing the floats poslje elemenata*/
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/*----------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*----------------------------------------------*/
.row{
	max-width: 1140px;
	margin: 0 auto;
	
}
section{
	padding: 80px 0;
}
.box {
	padding: 1%;
}


/*----------------------------------------------*/
/*PARAGRAPHS*/
/*----------------------------------------------*/
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}
.posebno{
    font-size: 27px;
}
.box p {
	font-size: 90%;
	line-height: 145%;
}
/*----------------------------------------------*/
/*FEATURES*/
/*----------------------------------------------*/

.section-features .long-copy {
	margin-bottom: 25px;
}

/*----------------------------------------------*/
/*ICONS*/
/*----------------------------------------------*/

.icon-big {
	font-size: 350%;
	display: block;
	color: #478be8;
	margin-bottom: 10px;
}
.icon-big p  {
    font-size: 23px;
}
.inoc-small{
	display: inline-block;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	color: #478be8;
	font-size: 120%; /*to aling text and icons*/
	line-height: 120%;
	
	margin-top: -2px;
	margin-right: 10px;
}


/*----------------------------------------------*/
/*HEADINGS*/
/*----------------------------------------------*/


h1, 
h2,
h3 {/* glavni naslov*/
	
	font-weight: 300;/*tezina jakost texta*/
	text-transform: uppercase;
	
}
h1{
	margin-top: 0;
	margin-bottom: 20px;
	color: white;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}
h2{
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 70px;
	letter-spacing: 1px;
}


h2:after {
	display: block;
	height: 2px;
	background-color: #478be8;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}
h3 {
	font-size: 110%;
	margin-bottom: 15px;
}
/*----------------------------------------------*/
/*BUTENS*/
/*----------------------------------------------*/

a:link,
a:visited {
	color: #478be8;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #478be8;
	-webkit-transition: border-buttom 0.2s, color;
	transition: border-buttom 0.2s, color;
}
a:hover,
a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}


/*----------------------------------------------*/
/*BUTENS*/
/*----------------------------------------------*/

.btn:link, 
.btn:visited,
input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	-webkit-transition: backgorund-color 0.5s, border 0.5s, color 0,5s;
	transition: backgorund-color 0.5s, border 0.5s, color 0,5s;
}

.btn-full:link, 
.btn-full:visited,
input[type=submit]{/*odabiremo samo prvi gumb*/
	background-color: #478be8;
	border: 1px solid #478be8;
	color: #fff;
	margin-right: 15px;
}
.btn-ghost:link, 
.btn-ghost:visited {
	border: 1px solid #478be8;
	color: #478be8;
	
}
.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
	background-color: #478be8;
	
}
.btn-full:hover, 
.btn-full:active {/*odabiremo samo prvi gumb*/
	background-color: #478be8;
;

}
.btn-ghost:hover, 
.btn-ghost:active {
	border: 1px solid #478be8;
	color: #fff;
	
}
/*----------------------------------------------*/
/*HEADER*/
/*----------------------------------------------*/
header{/* postavljanje hedera pozadinska slika malo zatamnjena pozicioniranje slike u centar */
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(IMAGES/chart-2785902_1280.jpg);
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(IMAGES/chart-2785902_1280.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	
}



.hero-text-box{/* postavljane naslova sa dva gumba  na sredinu */
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.logo {/*formiranje i pozicioniranje*/
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}
.logo-black{
	display: none;
	height: 50px;
	width: auto;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}


/*----------------------------------------------*/
/* MAIN NAVIGATION*/
/*----------------------------------------------*/

.main-nav{/*formiranje i pozicioniranje*/
	float: right;
	list-style: none;
	margin-top: 55px;
	
}
.main-nav li{/*pretvoorba u blokove da budu jedno do druugoga*/
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited{
	padding: 8px 0; /* odvajanje donje linije od slova*/
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-button 0.2s;
	transition: border-button 0.2s;
	
}
.main-nav li a:hover, 
.main-nav li a:active{
	border-bottom: 2px solid #478be8;
}

/*----------------------------------------------*/
/* STICKY NAVIGATION*/
/*----------------------------------------------*/

.sticky {
	position: fixed;  /*ostaje uvjek ma istom mjestu nebitno na skrolanje po stranici */
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.96);
	-webkit-box-shadow: 0 2px 2px #e0e0e0;
	box-shadow: 0 2px 2px #e0e0e0;
	z-index: 9999;
}
.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited{
	padding: 16px 0; /* odvajanje donje linije od slova*/
	color: #555;
	
}
.sticky .logo {display: none;}
.sticky .logo-black {display: block;}

.sticky .main-nav{/*formiranje i pozicioniranje*/ margin-top: 18px;
	
}
/*----------------------------------------------*/
/* mobile navigation*/
/*----------------------------------------------*/


.mobile-nav-icon {
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i {
	font-size: 200%;
	color: white;
}
/*----------------------------------------------*/
/* MEALS PHOTOS*/
/*----------------------------------------------*/

.section-meals{
	padding: 0;
}
.meals-show-case {
	list-style: none; /*izbacijanje bumbova iz unorder list*/
	width: 100%;
}
.meals-show-case li {/* float da pomjeramo slike na ljevo i slike da zauzimaju blok */
	float: left;
	display: block;
	width: 25%;
}
.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden; /*sto prelazi preko kontenjera je sakriveno*/
	background-color: black;
}
.meal-photo img {
	opacity: 0.7;/*neprovidnost*/
	width: 100%;
	height: auto;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);/*bice 115%  15% vece od ogrinala*/
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;/*animacija */
}
.meal-photo img:hover {/*kad predjemo misem preko slike*/
	-webkit-transform: scale(1.03);
	transform: scale(1.03);/*vraca na orginalnu velicinu*/
	opacity: 1;
}
/*----------------------------------------------*/
/* HOW IT WORKS*/
/*----------------------------------------------*/

.section-steps{
	background-color: #f4f4f4
}

.steps-box:first-child {
	text-align: right; /*radi za sve inline blokove*/
	padding-right: 3%; 
	margin-top: 10px;
}

.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}
.app-screen{
	width: 40%;
}

.work-step{
	margin-bottom: 60px;
}
.work-step p {
    padding-top: 13px;
}
.work-step:last-of-type {
	margin-bottom: 130px;
}
.work-step div {
	color: #478be8;
	border: 2px solid #478be8;
	display: inline-block;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}

.btn-app:link,
.btn-app:valid {
	border: none;
}
.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}
/*----------------------------------------------*/
/* HOW IT WORKS*/
/*----------------------------------------------*/

.span-1-of-4 img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	
}
.span-1-of-3 {
	display: inline-block;
	float: left;
	
	margin-right: 10px;
	
}
/*----------------------------------------------*/
/*SECTION TESTIOMONIAL*/
/*----------------------------------------------*/
cite img {
	height: 70px; /* visina slike*/
	border-radius: 50%;/*da bude okrugla slika*/
	vertical-align: middle;/*da bude u sredini slika*/
	margin-right: 10px;

}


cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
}

 blockquote {
	 padding: 2%;
	 font-style: italic;
	 line-height: 140%;
	 position: relative;/*da bi child element moglo pomjerati */
	 margin-top: 40px;
}

blockquote:before {
	content: "\201C";/*uzeto sa interneta navodnici */
	font-size: 500%;
	display: block;/*da zauzme cijlu duzinu displeaj*/
	position: absolute;/*da mozemo pomjerat element njegov rofitelj mora bit relativ*/
	top: -5px;
	left: -5px;
}



.section-testimonials {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(IMAGES/Uspjeh.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(IMAGES/Uspjeh.jpg);
	background-size: cover;/*da prekrije cijeli konteiner*/
	background-position: center;
	height: 100vh;/**/
	color: white;
	background-attachment: fixed;/*da slika stoji uvjek na mjestu kad se stranica pomjera */
}

/*----------------------------------------------*/
/*SING UP*/
/*----------------------------------------------*/


.plan-box{
	color: black;
	background-color: white;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	-webkit-box-shadow: 0 2px 2px #f7f7f7;
	box-shadow: 0 2px 2px #f7f7f7; /*za sjene */
}

.section-plans{
	background-color: #d0d0d0;
	
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e4e4;
	
}
.plan-price{
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 300;
	color:  #478be8;
}
.plan-price span {
	font-size: 40%;/*da bude manji u odnosu ma parent element*/
	font-weight: 300;
}
.plan-price-meal {
	font-size: 80%;
}
.plan-box ul {
	list-style: none;
}
.plan-box ul li {
	padding: 5px 0;
}
.plan-box div:first-child{/*uzima prvi po redu element element */
	background-color: #efefef;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.plan-box div:last-child {
	text-align: center;
	border: 0;
}
/*----------------------------------------------*/
/*FROM*/
/*----------------------------------------------*/


.contact-form{
	width: 60%;
	margin: 0 auto;
}

input[type=text], 
input[type=email], 
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid ;
	
}


textarea {
	height: 100px;
}

input[type=checkbox]{
	margin: 10px 5px 10px 0 ;
}
*:focus{
	outline: none;
}


.footer-nav li {
	margin-right: 20px;
} 


.social-links li {
	margin-right: 20px;
}



.social-links {
	text-align: end;
}

.copyright {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	color: #aaaaaa;
	font-size: 90%;
}


footer {
	background-color: #262525;
	padding: 40px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	color: #6f6f6f;
	border-bottom: 2px solid transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	
}


.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
	color: #cccccc;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
	
.social-links li a:link,
.social-links li a:visited {
	font-size: 140%;
}
.ion-social-facebook:hover{
	color: #3b5998;
}
.ion-social-twitter:hover{
	color:  #1da1f2;
}
.ion-social-googleplus:hover{
	color: #ea4335;
}
.ion-social-instagram:hover{
	color:  #c32aa3;
}


.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}


/*----------------------------------------------*/
/*ANIMATIONS*/
/*----------------------------------------------*/

.js--wp-1 {
	opacity: 0;
}

.js--wp-1.animated {
	opacity: 1;
}


.app-screen {
	opacity: 0;
}

.app-screen.animated {
	opacity: 1;
}

.js--wp-3-1,
.js--wp-3-2,
.js--wp-3-3,
.js--wp-3-4 {
	opacity: 0;
}

.js--wp-3-1.animated,
.js--wp-3-2.animated,
.js--wp-3-3.animated,
.js--wp-3-4.animated {
	opacity: 1;
}


.js--wp-4-2, 
.js--wp-4-1, 
.js--wp-4-3 {
	opacity: 0;
}

.js--wp-4-2.animated, 
.js--wp-4-1.animated, 
.js--wp-4-3.animated {
	opacity: 1;
}





















